
.access-denied {
    text-align: center;
    margin-top: 2rem;
}

.access-denied h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.access-denied p {
    font-size: 1.2rem;
}

.list-scrollable {
    max-height: 50vh;
    overflow-y: auto;
}
.grade-description {
    font-weight: bold;
    font-size: 1.2rem;
}

.grade-score {
    font-size: 1.2rem;
    text-align: center;
}

.grade-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
}

.grade-controls {
    display: flex;
    justify-content: space-between;
}